unittests/faults_gridlab/gridlab.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="MyService"
targetNamespace="urn:myuri:1.0"
xmlns:tns="urn:myuri:1.0"
xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns:ns1="urn:myuri:1.0"
xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<schema targetNamespace="urn:myuri:1.0"
    xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ns1="urn:myuri:1.0"
    xmlns="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="unqualified"
    attributeFormDefault="unqualified">

    <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
    <!-- fault element -->
    <element name="MyFirstException">
        <complexType>
            <sequence>
                <element name="text" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
            </sequence>
        </complexType>
    </element>
    <!-- fault element -->

    <element name="MySecondException">
        <complexType>
            <sequence>
                <element name="number" type="xsd:int" minOccurs="1" maxOccurs="1"/>
            </sequence>
        </complexType>
    </element>

    <!-- operation request element -->
    <element name="myOperation">
        <complexType>
            <sequence>
                <element name="myInput" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
            </sequence>
        </complexType>
    </element>

    <!-- operation response element -->
    <element name="myOperationResponse">
    <complexType>
    <sequence>
    <element name="myOutput" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
    </complexType>
    </element>
</schema>

</types>

<message name="myOperationRequest">
<part name="parameters" element="ns1:myOperation"/>
</message>

<message name="myOperationResponse">
<part name="parameters" element="ns1:myOperationResponse"/>
</message>

<message name="MySecondExceptionFault">
<part name="fault" element="ns1:MySecondException"/>
</message>

<message name="MyFirstExceptionFault">
<part name="fault" element="ns1:MyFirstException"/>
</message>

<portType name="MyType">
    <operation name="myOperation">
        <documentation>Service definition of function ns1__myOperation</documentation>
        <input message="tns:myOperationRequest"/>
        <output message="tns:myOperationResponse"/>
        <fault name="MySecondException" message="tns:MySecondExceptionFault"/>
        <fault name="MyFirstException" message="tns:MyFirstExceptionFault"/>
    </operation>
</portType>

<binding name="MyService" type="tns:MyType">
    <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="myOperation">
        <SOAP:operation soapAction=""/>
        <input>
            <SOAP:body use="literal"/>
        </input>
        <output>
            <SOAP:body use="literal"/>
            </output>

        <fault name="MySecondException">
            <SOAP:fault name="MySecondException" use="literal"/>
        </fault>

        <fault name="MyFirstException">
            <SOAP:fault name="MyFirstException" use="literal"/>
        </fault>
    </operation>
</binding>

<service name="MyService">
<documentation>gSOAP 2.7.1 generated service definition</documentation>
<port name="MyService" binding="tns:MyService">
<SOAP:address location="http://localhost:10000"/>
</port>
</service>

</definitions> 
